html,body, #app
{
	height: 100% !important;
}
#cuadro_login
{
	opacity: 0.8;
}
.form-control, button.multiselect.dropdown-toggle.btn.btn-default,.valor{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  text-decoration: none !important;
  z-index: 0 !important;
  border-radius: 0 !important;
  box-shadow: 0 0 0 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 1px solid #ddd !important;  
}

.form-control:hover, .form-control:focus,.valor:hover,.valor:focus{
  cursor: initial !important;
  background: #233B70 !important;
  background-color: white !important;
  border-color: #F28D8D !important;
}