body
{
	min-width: none !important;
	max-width: none !important;
	margin: 0;
	font-family: 'Arial Narrow', arial !important;
	font-size: 1.4em !important;
	overflow-x: hidden;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 

}
a:active, a:focus
{
	outline: none;
}
.navbar-toggler:focus, .navbar-toggler:active
{
	outline: none;
}
#enlaces h1
{
	margin-left: 15%;
    margin-right: 15%;
    padding-top: 1%;
    padding-bottom: 0%;
    color: white;
    text-align: center;
}
.nav-item
{
	text-align: center;
	width: 100%;
	margin-left: 10px;
}
.navbar-nav
{
	width: 100%;
}
.container-fluid
{
	margin: 0;
	padding: 0 !important;
}
.lenguaje
{
	cursor:pointer;
}
.lenguaje img
{
	float: left;
	width: auto;
    height: 30px;
}
.intereses
{
	height: auto !important;
}

.botones
{
	margin-left:10%;
	margin-right:10%;
}
.informacion
{
	height: 100%;
    padding-left: 15% !important;
    padding-right: 15% !important;
    padding-top: 4% !important;
    padding-bottom: 4% !important;
    background-color: #dedede;
}
.checks
{
	width: 30%;
    text-align: center;
	
}
.checks:hover
{
	cursor:pointer;
}
.checks img
{
	height: 65px;
    width: 65px;
}
.checks .titulo{
	margin-top: 20px;
}
.listaservicios
{
	width: 100%;
}
.listaservicios img
{
	width:20px;
	height: 20px;
	margin-right: 10px;
}
.titulos
{
	margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 1%;
	padding-top: 4%;
	color: white;
	text-align: center;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:32.8%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.panel-footer
{
	margin-top: 0 !important;
	padding-top: 30px !important;
}
#splash
{
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
}
#splash img
{
	width: 400px;
	display: block;
	margin: 0 auto;
}
.arriba
{
	cursor:pointer;
	position: absolute;
	margin: 20px;
    right: 1px;
    z-index: 100;
    height: 50px;
    width: 50px;
}
.arriba img
{
	z-index: -1;
	width: auto;
    height: 40%;
}

#cabecera
{
	padding-left: 15%;
    padding-right: 15%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 100%;
	background-color: white !important;
}
#cabecera a, #cabecera a:hover
{
	text-decoration: none;
	color:#242424;
	opacity: 0.8;
}
#cabecera a:hover
{
	opacity: 1;
}

#cabecera .col-md-1, .col-md-2
{
	display: table-cell;
    vertical-align: middle;
}

#galeria img
{
	width: 100%;
	height: auto;
}
#nosotros
{
	margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    margin-bottom: 8%;
}
#nosotros p
{
	line-height: 1.6 !important;
}
#enlaces
{
	height: 100%;
	width: 100%;
	background-color: #bc0000;
}

#botones
{
	margin-right: 15%;
    width: 70%;
    background-color: white;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#img_enlaces
{
	border-width: 5px;
    border-top: solid;
    border-color: white;
    width: 70%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-left: 15%;
    margin-right: 15%;
}

#servicios
{
	padding-bottom: 5% !important;
	color:white;
	width: 100%;
	background-color: #bc0000;
}
#servicios table
{
	margin-left: 15%;
    margin-right: 15%;
    width: 70% !important;
    margin-top: 3%;
}
#servicios table td
{
	border: none;
	width: 50%;
}
#servicios h1
{
	border-bottom: solid;
}
#clientes h1, #nosotros h1
{
	color: #242424;
}
#clientes h3
{
	width: 100%;
}
#clientes h5
{
	text-align: center;
}

#panel1_clientes
{
	border-width: 5px;
	border-top: solid;
	border-color: #242424;
	width: 70%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
}
#panel1_clientes img
{
	filter: saturate(0);
	margin-top: 0;
    cursor: pointer;
    transition: all 0.5s !important;
    outline: none;
	height: 80%;
	width: 80%;
}
#panel1_clientes img:hover
{
	cursor: default;
	filter: saturate(1);
}
#panel1_clientes div
{
	transition: all 0.5s !important;
	margin-top: 2%;
    margin-bottom: 2%;
}

#panel2_clientes
{
	text-align: center;
	width: 70%;
    padding-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
}
#contacto
{
	width: 100%;
	background-color: #bc0000;
}
#contacto h1 img
{
	width: 45px;
    height: auto;
    position: absolute;
    margin-left: 15%;
}
#descripcion
{
	color: white;
    padding-top: 3%;
    padding-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    border-top: solid;
	text-align: center;
}
#pie
{
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	margin-top: 2%;
	color: white;
	height: 100%;
}
#redes
{
	height: 30px;
    position: absolute;
    right: 15%;
}
#redes a:hover
{
	color: transparent !important;
	text-decoration: none !important;
}
#redes img
{
	height: 100%;
    width: auto;
}
#facebook
{
	margin-right: 15px;
}
#img_pie
{
	margin-top: 2%;
    padding-bottom: 5%;
}
@media (max-width: 991px) 
{
	.navbar-toggler
	{
		margin-right: 40px !important;	
	}
	
}
@media (max-width: 991px) 
{
	body
	{
		font-size: 3em !important;
	}
	.navbar-toggler
	{
	    display: block;
	    cursor: pointer;
	    position: absolute;
	    right: 20px;
	    top: 20px;
	    padding: 3px;
	    width: 40px;
	    text-align: center;
	    border: none !important;
	}
	.nav-item
	{
		width: 100%;
	}
	.lenguaje
	{
		margin-top: 10px;
	}
	#cabecera
	{
		font-size: 1.5em;
		margin-top: 3%;
	}
	li.nav-item.align-self-center, .nav-item
	{
		margin: 0 !important;
	}
	.titulos,#cabecera,#nosotros,#servicios table,#img_enlaces,#descripcion,#panel1_clientes,#panel2_clientes
	{
		margin-left: 5% !important;
		margin-right: 5% !important;
		width: 90% !important;
	}
	.informacion
	{
		padding-left: 5% !important;
		padding-right: 5% !important;
		width: 90%;
	}
	h1
	{
		font-size: 2em !important;
	}
	h5
	{
		font-size: 1em !important;
	}
	h3
	{
		font-size: 1.1em !important ;
	}
	.navbar-brand
	{
		height: 150px !important;
	}
	.navbar-brand img
	{
		width: auto !important;
    	height: 75% !important;
	}
	.lenguaje img
	{
		height: 100px !important;
		width: auto;
	}
	#galeria
	{
		width: 100% !important;
	}
	.derecha, .prev
	{
		width: 40px !important;
  		height: 100px !important;
	}
	.map-responsive
	{
		height: 600px;
	}
	#pie
	{
		margin-right: 5%;
	    margin-left: 5%;
	    width: 90%;
	}
	#redes {
	    width: 150px;
	    height: 50px;
	    position: absolute;
	    right: 4%;
	}
}
