
.intereses{
  margin-top: 0;
  cursor: pointer;
  transition: all 999ms ease;
  outline: none;
  /*background-color: red;*/
}
.intereses img{
  display: block;
  margin: 0 auto;
  width: 60%;
  height: auto;
  transition: all 0.5s !important;
}

