.items{
  cursor: pointer;
  transition: all 999ms ease;
  outline: none;
  /*background-color: red;*/
}
.items img{
  margin: 0;
  transition: all 0.5s !important;
}
.btn-slider{
  opacity: 0.9;
  color:white;
  top:50%;
  border: none;
  position: absolute;
  display: block;
  padding: 0;
  background: #4F4F4F;
  z-index: 100;
}
#enlaces 
{
  width: 100% !important;
}
.btn-slider:focus, .btn-slider:active, .btn-slider:hover
{
  opacity: 1;
  outline: none;
}

.prev
{
  left: 0px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  width: 22px;
  height: 40px;
  border-radius: 0 100px 100px 0;
}
.prev i
{
  margin-right: 7px;
}


.derecha{
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  width: 22px;
  height: 40px;
  border-radius: 100px 0 0 100px;
  right: 0px;
}
.derecha i
{
  margin-left: 7px;
}
